body {
  font: normal 1.6rem var(--main-font);
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;

  @media screen and (max-width: 480px) {
    justify-content: center;
    gap: 2rem;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    @media screen and (max-width: 480px) {
      flex-direction: column-reverse;
      gap: 3rem;
    }
  }
}
