body {
  font: normal 1.6rem var(--main-font);
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 5rem 0;

    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
      gap: 5rem;
    }
  }
}
