.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 20rem;

  input,
  button {
    appearance: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    transition: 200ms ease-in-out;

    &:hover {
      transform: scale(1.05);
      background-color: lightgray;
    }
  }

  input {
    padding: unset;
  }

  .color-picker {
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  label {
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  .size-slider {
    height: 1.4rem;
    background-color: var(--primary-light);

    &::-webkit-slider-thumb {
      cursor: e-resize;
      appearance: none;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: var(--slider-thumb);
    }
  }

  button:first-of-type.active {
    color: var(--primary-light);
  }

  button:nth-of-type(2).active {
    color: var(--primary-light);
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }

  button:nth-of-type(3).active {
    color: var(--primary-light);
    background-color: lightcoral;
  }

  button:last-of-type {
    &:hover {
      color: var(--primary-light);
      background-color: crimson;
    }

    &:active {
      background-color: red;
    }
  }

  .switch-holder {
    width: 100%;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 200ms ease-in-out;

    &:hover {
      transform: scale(1.05);
      background-color: lightgray;
    }

    input[type='checkbox'] {
      display: none;
      position: absolute;
      z-index: -2;

      & + label {
        position: relative;
        display: inline-block;
        width: 7.5rem;
        height: 3rem;
        border-radius: 20px;
        margin: 0;
        cursor: pointer;
        box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
          inset 10px 10px 10px rgba(0, 0, 0, 0.25);
      }

      & + label::before {
        position: absolute;
        content: 'OFF';
        font-size: 12px;
        text-align: center;
        line-height: 2rem;
        top: 5px;
        left: 5px;
        width: 4rem;
        height: 2rem;
        border-radius: 20px;
        background-color: #d1dad3;
        box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
          3px 3px 5px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-in-out;
      }

      &:checked + label::before {
        left: 40%;
        content: 'ON';
        color: #fff;
        background-color: #00b33c;
        box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #00b33c;
      }
    }
  }
}
