$font-size: 10px;
$main-font: 'Roboto', sans-serif;
$primary-light: #ededed;
$secondary-light: #fafafa;
$primary-dark: #333;

$slider-thumb: #333;

:root {
  --font-size: #{$font-size};
  --main-font: #{$main-font};
  --primary-light: #{$primary-light};
  --secondary-light: #{$secondary-light};
  --primary-dark: #{$primary-dark};

  --slider-thumb: #{$slider-thumb};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);

  @media screen and (max-width: 1200px) {
    font-size: 60%;
  }

  @media screen and (max-width: 980px) {
    font-size: 58%;
  }

  @media screen and (max-width: 480px) {
    font-size: 55%;
  }
}
